* {
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100vw;
	background-color: #000;
}

#container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 90%;
	background-color: #222222;
	height: 70vh;
	padding-bottom: 110px;
	margin: 50px;
}

.container-resistencia {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.resistencia {
	justify-content: center;
	align-items: center;
	background-color: rgb(208, 155, 120);
}

.selects {
	background-color: #fff;
	text-align: center;
	height: 100%;
	text-align: center;
	color: white;
}

.selects option {
	font-weight: bold;
}

.alambre {
	background-color: #9B9B9B;
}

#left {
	border-color: rgb(208, 155, 120);
}

#middle {
	border-color: rgb(208, 155, 120);
}

#right {
	border-color: rgb(208, 155, 120);
}

#band1 {
	background-color: black;
}

#band2 {
	background-color: black;
}

#band3 {
	background-color: black;
}

#band4 {
	background-color: brown;
}

#result {
	text-align: center;
	font-weight: bold;
	color: #FFFFFF;
	font-family: Sans-Serif;
}

#title {
	text-align: center;
	font-weight: bold;
	color: #FFFFFF;
	font-family: lucida console;
}

footer {
	text-align: center;
	font-weight: bold;
	color: #FFFFFF;
	font-family: lucida console;
	background-color: #989898;
}

header {
	text-align: center;
	background-color: #989898;
}

a {
	text-decoration: none;
	color: #0404B4;
}

#input {
	background-color: #777777;
	color: #FFFFFF;
	text-align: center;
	border-color: #FFFFFF;
}

#inputValue {
	display: flex;
	align-items: center;
	justify-content: center;
}

#btnCalculate {
	background-color: #777777;
	color: #FFFFFF;
	text-align: center;
	border-color: #FFFFFF;
	cursor: pointer;
}

#btnCalculate:hover {
	background-color: #FFFFFF;
	color: #777777;
	border-color: #777777;
}

#multiplier {
	background-color: #777777;
	color: #FFFFFF;
	border-color: #FFFFFF;
	cursor: pointer;
}

#tolerance {
	background-color: #777777;
	color: #FFFFFF;
	border-color: #FFFFFF;
	cursor: pointer;
}

/* pc (landscape) */
@media screen and (min-width: 1025px) {
	.container-resistencia {
		width: 95%;
		height: 70%;
	}

	.selects option {
		font-size: 28px;
	}
	.alambre {
		width: 10%;
		height: 7%;
	}

	#left {
		border-radius: 45% 11% 11% 45%;
		width: 15%;
		height: 100%;
	}

	#middle {
		width: 15%;
		height: 80%;
	}

	#right {
		border-radius: 11% 45% 45% 11%;
		width: 15%;
		height: 100%;
	}

	#band1 {
		margin-left: 60%;
		width: 26%;
	}

	#band2 {
		width: 26%;
		margin-left: 10%;
	}

	#band3 {
		width: 26%;
		margin-left: 15%;
	}

	#band4 {
		width: 26%;
		margin-left: 10%;
	}

	#result {
		font-size: 80px;
		margin-top: 20px;
	}

	#title {
		margin-top: 10px;
		text-align: center;
		font-size: 50px;
	}

	#inputValue {
		flex-direction: row;
		padding-right: 30px;
		width: 30%;
	}

	#input {
		width: 80px;
		font-size: 35px;
		margin: 0px 20px 0px 30px;
	}

	#multiplier {
		width: 80px;
		font-size: 35px;
		margin-right: 20px;
	}

	#tolerance {
		width: 100px;
		font-size: 35px;
		margin-right: 20px;
	}

	#btnCalculate {
		width: 160px;
		height: 50px;
		font-size: 35px;
		border-radius: 30px;
	}

	footer {
		margin-top: 10px;
		width: 100%;
		height: 50px;
		font-size: 30px;
		padding: 10px 0px;
	}

	header {
		margin: 1px;
		width: 100%;
		height: 110px;
	}

}

/* Smartphones (portrait and landscape) */
@media screen and (max-width: 600px) {
	.container-resistencia {
		width: 95%;
		height: 20%;
	}

	.selects option {
		font-size: 10px;
	}
	.alambre {
		width: 10%;
		height: 7%;
	}

	#left {
		border-radius: 45% 11% 11% 45%;
		width: 15%;
		height: 100%;
	}

	#middle {
		width: 15%;
		height: 80%;
	}

	#right {
		border-radius: 11% 45% 45% 11%;
		width: 15%;
		height: 100%;
	}

	#band1 {
		margin-left: 50%;
		width: 36%;
	}

	#band2 {
		width: 36%;
		margin-left: 10%;
	}

	#band3 {
		width: 36%;
		margin-left: 1%;
	}

	#band4 {
		width: 36%;
		margin-left: 10%;
	}

	#result {
		/* font-size: 80px; */
		font-size: 2em;
		margin-top: 10px;
	}

	#title {
		margin-top: 10px;
		font-size: 30px;
	}

	#inputValue {
		flex-direction: column;
		width: 30%;
	}

	#input {
		width: 60px;
		font-size: 20px;
		margin-top: 10px;
	}

	#multiplier {
		width: 60px;
		font-size: 20px;
		margin-top: 10px;
	}

	#tolerance {
		width: 80px;
		font-size: 20px;
		margin-top: 10px;
	}

	#btnCalculate {
		width: 140px;
		height: 50px;
		font-size: 35px;
		border-radius: 30px;
		margin-top: 10px;
	}

	footer {
		margin-top: 10px;
		width: 100%;
		height: 5%;
		font-size: 16px;
		padding-top: 10px;
	}

	header {
		margin: 1px;
		width: 100%;
		height: 12%;
	}
}

/* Smartphones Throtting(portrait and landscape) */
@media screen and (max-height: 400px) and (max-width: 800px) {
	.container-resistencia {
		width: 55%;
		height: 50%;
	}

	.selects option {
		font-size: 10px;
	}
	.alambre {
		width: 10%;
		height: 7%;
	}

	#left {
		border-radius: 45% 11% 11% 45%;
		width: 15%;
		height: 100%;
	}

	#middle {
		width: 15%;
		height: 80%;
	}

	#right {
		border-radius: 11% 45% 45% 11%;
		width: 15%;
		height: 100%;
	}

	#band1 {
		margin-left: 50%;
		width: 36%;
	}

	#band2 {
		width: 36%;
		margin-left: 10%;
	}

	#band3 {
		width: 36%;
		margin-left: 1%;
	}

	#band4 {
		width: 36%;
		margin-left: 10%;
	}

	#result {
		/* font-size: 80px; */
		font-size: 2em;
		margin-top: 10px;
	}

	#title {
		margin-top: 10px;
		font-size: 20px;
	}

	footer {
		margin-top: 10px;
		width: 100%;
		height: 5%;
		font-size: 16px;
		padding-top: 10px;
	}

	header {
		margin: 1px;
		width: 100%;
		height: 12%;
	}
}
/* Smartphones and tablets (portrait and landscape) */
@media screen and (min-width: 601px) and (max-width: 1024px) {
	.container-resistencia {
		width: 95%;
		height: 20%;
	}

	.selects option {
		font-size: 15px;
	}

	.alambre {
		width: 10%;
		height: 7%;
	}

	#left {
		border-radius: 45% 11% 11% 45%;
		width: 15%;
		height: 100%;
	}

	#middle {
		width: 15%;
		height: 80%;
	}

	#right {
		border-radius: 11% 45% 45% 11%;
		width: 15%;
		height: 100%;
	}

	#band1 {
		margin-left: 50%;
		width: 36%;
	}

	#band2 {
		width: 36%;
		margin-left: 10%;
	}

	#band3 {
		width: 36%;
		margin-left: 1%;
	}

	#band4 {
		width: 36%;
		margin-left: 10%;
	}

	#result {
		font-size: 80px;
		margin-top: 5px;
	}

	#title {
		margin-top: 10px;
		font-size: 35px;
	}


	#inputValue {
		flex-direction: column;
		width: 30%;
	}

	#input {
		width: 70px;
		font-size: 26px;
		margin-top: 10px;
	}

	#multiplier {
		width: 70px;
		font-size: 26px;
		margin-top: 10px;
	}

	#tolerance {
		width: 90px;
		font-size: 26px;
		margin-top: 10px;
	}

	#btnCalculate {
		width: 140px;
		height: 50px;
		font-size: 35px;
		border-radius: 30px;
		margin-top: 10px;
	}

	footer {
		margin-top: 10px;
		width: 100%;
		height: 5%;
		font-size: 16px;
		padding-top: 10px;
	}

	header {
		margin: 1px;
		width: 100%;
		height: 12%;
	}
}
