* {
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100vw;
	background-color: #000;
}

#container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 90%;
	background-color: #222222;
	height: 70vh;
	padding-bottom: 110px;
	margin: 50px;
}

.container-resistencia {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 95%;
	height: 60%;
}

.resistencia {
	justify-content: center;
	align-items: center;
	background-color: rgb(208, 155, 120);
}

.selects {
	background-color: #fff;
	text-align: center;
	height: 100%;
	text-align: center;
	font-size: 15px;
	font-weight: bold;
	color: #81F7F3;
}

/* pc (landscape) */
@media screen and (min-width: 1025px) {



	.alambre {
		width: 10%;
		height: 7%;
		background-color: #9B9B9B;
	}

	#left {
		border-color: rgb(208, 155, 120);
		border-radius: 45% 11% 11% 45%;
		width: 15%;
		height: 100%;
	}

	#middle {
		border-color: rgb(208, 155, 120);
		width: 15%;
		height: 80%;
	}

	#right {
		border-color: rgb(208, 155, 120);
		border-radius: 11% 45% 45% 11%;
		width: 15%;
		height: 100%;
	}

	#band1 {
		margin-left: 60%;
		width: 26%;
		background-color: black;
	}

	#band2 {
		width: 26%;
		margin-left: 10%;
		background-color: black;
	}

	#band3 {
		width: 26%;
		margin-left: 15%;
		background-color: black;
	}

	#band4 {
		width: 26%;
		margin-left: 10%;
		background-color: brown;
	}

	#result {
		text-align: center;
		font-size: 80px;
		font-weight: bold;
		color: #FFFFFF;
		font-family: Sans-Serif;
		margin-top: 20px;
	}

	#title {
		margin-top: 10px;
		text-align: center;
		font-size: 50px;
		font-weight: bold;
		color: #FFFFFF;
		font-family: lucida console;
	}

	footer {
		margin-top: 10px;
		width: 100%;
		height: 50px;
		text-align: center;
		font-size: 30px;
		font-weight: bold;
		color: #FFFFFF;
		font-family: lucida console;
		background-color: #989898;
		padding: 10px 0px;
	}

	header {
		margin: 1px;
		width: 100%;
		height: 110px;
		text-align: center;
		background-color: #989898;
	}

	a {
		text-decoration: none;
		color: #0404B4;
	}
}

/* Smartphones (portrait and landscape) */
@media screen and (max-width: 600px) {
	body {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 100vh;
		width: 100vw;
		background-color: #000;
	}

	#container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 90%;
		background-color: #222222;
		height: 70vh;
		padding-bottom: 110px;
		margin: 50px;
	}

	.container-resistencia {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		width: 95%;
		height: 20%;
	}

	.resistencia {
		justify-content: center;
		align-items: center;
		background-color: rgb(208, 155, 120);
	}

	.selects {
		background-color: #fff;
		text-align: center;
		height: 100%;
		text-align: center;
		font-size: 15px;
		font-weight: bold;
		color: #81F7F3;
	}

	.alambre {
		width: 10%;
		height: 7%;
		background-color: #9B9B9B;
	}

	#left {
		border-color: rgb(208, 155, 120);
		border-radius: 45% 11% 11% 45%;
		width: 15%;
		height: 100%;
	}

	#middle {
		border-color: rgb(208, 155, 120);
		width: 15%;
		height: 80%;
	}

	#right {
		border-color: rgb(208, 155, 120);
		border-radius: 11% 45% 45% 11%;
		width: 15%;
		height: 100%;
	}

	#band1 {
		margin-left: 50%;
		width: 36%;
		background-color: black;
	}

	#band2 {
		width: 36%;
		margin-left: 10%;
		background-color: black;
	}

	#band3 {
		width: 36%;
		margin-left: 1%;
		background-color: black;
	}

	#band4 {
		width: 36%;
		margin-left: 10%;
		background-color: brown;
	}

	#result {
		text-align: center;
		/* font-size: 80px; */
		font-size: 2em;
		font-weight: bold;
		color: #FFFFFF;
		font-family: Sans-Serif;
		margin-top: 10px;
	}

	#title {
		margin-top: 10px;
		text-align: center;
		font-size: 30px;
		font-weight: bold;
		color: #FFFFFF;
		font-family: lucida console;
	}

	footer {
		margin-top: 10px;
		width: 100%;
		height: 5%;
		align-items: center;
		justify-content: center;
		text-align: center;
		font-size: 16px;
		font-weight: bold;
		color: #FFFFFF;
		font-family: lucida console;
		background-color: #989898;
		padding-top: 10px;
	}

	header {
		margin: 1px;
		width: 100%;
		height: 12%;
		text-align: center;
		background-color: #989898;
	}

	a {
		text-decoration: none;
		color: #0404B4;
	}
}

/* Smartphones and tablets (portrait and landscape) */
@media screen and (min-width: 601px) and (max-width: 1024px) {
	body {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 100vh;
		width: 100vw;
		background-color: #000;
	}

	#container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 90%;
		background-color: #222222;
		height: 70vh;
		padding-bottom: 110px;
		margin: 50px;
	}

	.container-resistencia {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		width: 95%;
		height: 20%;
	}

	.resistencia {
		justify-content: center;
		align-items: center;
		background-color: rgb(208, 155, 120);
	}

	.selects {
		background-color: #fff;
		text-align: center;
		height: 100%;
		text-align: center;
		font-size: 15px;
		font-weight: bold;
		color: #81F7F3;
	}

	.alambre {
		width: 10%;
		height: 7%;
		background-color: #9B9B9B;
	}

	#left {
		border-color: rgb(208, 155, 120);
		border-radius: 45% 11% 11% 45%;
		width: 15%;
		height: 100%;
	}

	#middle {
		border-color: rgb(208, 155, 120);
		width: 15%;
		height: 80%;
	}

	#right {
		border-color: rgb(208, 155, 120);
		border-radius: 11% 45% 45% 11%;
		width: 15%;
		height: 100%;
	}

	#band1 {
		margin-left: 50%;
		width: 36%;
		background-color: black;
	}

	#band2 {
		width: 36%;
		margin-left: 10%;
		background-color: black;
	}

	#band3 {
		width: 36%;
		margin-left: 1%;
		background-color: black;
	}

	#band4 {
		width: 36%;
		margin-left: 10%;
		background-color: brown;
	}

	#result {
		text-align: center;
		font-size: 80px;
		font-weight: bold;
		color: #FFFFFF;
		font-family: Sans-Serif;
		margin-top: 5px;
	}

	#title {
		margin-top: 10px;
		text-align: center;
		font-size: 35px;
		font-weight: bold;
		color: #FFFFFF;
		font-family: lucida console;
	}

	footer {
		margin-top: 10px;
		width: 100%;
		height: 5%;
		align-items: center;
		justify-content: center;
		text-align: center;
		font-size: 16px;
		font-weight: bold;
		color: #FFFFFF;
		font-family: lucida console;
		background-color: #989898;
		padding-top: 10px;
	}

	header {
		margin: 1px;
		width: 100%;
		height: 12%;
		text-align: center;
		background-color: #989898;
	}

	a {
		text-decoration: none;
		color: #0404B4;
	}
}
