* {
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100vw;
	background-color: #000;
}

#container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 80%;
	height: 80%;
	padding-bottom: 170px;
}

.container-resistencia {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 25%;
}

.resistencia {
	justify-content: center;
	align-items: center;
	background-color: rgb(208, 155, 120);
}

.selects {
	background-color: #fff;
	text-align: center;
	width: 25px;
	height: 100%;
	text-align: center;
	font-size: 15px;
	font-weight: bold;
	color: #81F7F3;
}

.alambre {
	width: 35px;
	height: 10px;
	background-color: #9B9B9B;
}

#left {
	border-radius: 40px 15px 15px 40px;
	width: 25%;
	height: 100px;
}

#middle {
	width: 50%;
	height: 70px;
}

#right {
	border-radius: 15px 40px 40px 15px;
	width: 25%;
	height: 100px;
}

#band1 {
	margin-left: 40%;
	background-color: black;
}

#band2 {
	margin-left: 10px;
	background-color: black;
}

#band3 {
	margin-left: 30px;
	background-color: black;
}

#band4 {
	margin-left: 20px;
	background-color: brown;
}

#result {
	text-align: center;
	font-size: 80px;
	font-weight: bold;
	color: #FFFFFF;
	font-family: Sans-Serif;
}

#title {
	text-align: center;
	font-size: 40px;
	font-weight: bold;
	color: #FFFFFF;
	font-family: lucida console;
}

